---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';

const aboutMeBackground = "black";
---

<BaseLayout 
	title="About | Adam Crowe" 
	description="About Adam Crowe"
>
	<div class="stack gap-20">
		<main class="wrapperAbout about">
			<Hero
				title="ABOUT ME"
			>
			</Hero>

			<section>
				<div class="content">
					<p>
						HI, WELCOME TO MY WEBSITE.<br><br>
						MY NAME IS ADAM AND I'M A FULL-STACK WEB DEVELOPER BASED IN THE NORTH BAY AREA.<br>
						I'M ALWAYS TRYING TO EXPAND MY SKILLSET AND DEEPEN MY UNDERSTANDING OF THE FIELD.<br><br>
						BUT EVERY NOW AND THEN I LIKE TO COOK, BAKE AND GO TO THE GYM.<br><br>
						
						FEEL FREE TO REACH OUT ON LINKEDIN!<br><br>	
						THANKS FOR STOPPING BY.<br>
					</p>
				</div>
			</section>

		</main>

	</div>
</BaseLayout>

<style define:vars={{aboutMeBackground}}>

	.wrapperAbout {
		width: 100%;
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
		background-color: var(--aboutMeBackground);
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		font-family: "Ranade-Regular";
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: white;
	}

	.section-title {
		font-family: "Ranade-BoldItalic";
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--green-accent);
	}

	.content {
		grid-column: 2 / 4;
		font-size: large;
		line-height: 1.7;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	main{
		height: 100vh;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

		.section-title{
			margin-left: 40px;
		}

		main{
		height: 100vh;
	}
	}
</style>
