
<div id="three-container" style="width: 100%; height: 500px;">
    <div id="info" class="gradient-text">
    ADAM CROWE
    </div>
</div>

<script>
  import { initThreeScene } from '../scripts/three-scene.js';
  
  // Initialize the scene
  initThreeScene('three-container');
</script>
<style>
    #info{
        font-family: "Ranade-BoldItalic";
        position: absolute; 
        top: 40%; 
        width: 100%; 
        text-align: center; 
        z-index: 100; 
        display:block;
        /* If you want to implement it in very old browser-versions */
        -webkit-user-select: none; 
        /* Chrome/Safari */ 
        -moz-user-select: none; 
        /* Firefox */
        -ms-user-select: none; 
        /* IE10+ *//* The rule below is implemented in most browsers by now */
        user-select: none;
        font-size: 7vw;
        background: -webkit-linear-gradient(247deg, rgba(188,229,5,1) 35%, rgba(188,229,5,0.6810925053615196) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>