---
import Icon from './Icon.astro';
---

<footer>
	<div class="socials">
		<a href="https://www.linkedin.com/in/adamwarrencrowe/" target="_blank" rel="noopener noreferrer">
			<Icon icon="linkedin-logo" color="var(--accent-regular)" size="1.6em" gradient />
		</a>
		<a href="https://github.com/awcrowe00" target="_blank" rel="noopener noreferrer">

			<Icon icon="github-logo" color="var(--accent-regular)" size="1.6em" gradient />
		</a>
	</div>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		color: var(--gray-400);
		font-size: var(--text-sm);
		position: absolute;
		top: 85vh;
		right: 4%
	}

	footer a {
		color: var(--gray-400);
		text-underline-offset: 0.25em;
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: center;
			padding: 2.5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		.socials {
			justify-content: center;
		}
	}
</style>
